html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* --------------------------------------------------------------- */


/*:root{
    --bar-width: 45px;
    --bar-height: 5px;
    --hamburger-gap: 6px;
    --foreground: white;
    --background: #333;
    --hamburger-margin: 5px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height:calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
    margin-top: 38px;
    margin-left: 10px;
}

.hamburger-menu:has(input:checked) {
    --foreground: #333;
    --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content:"";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate
    var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

body {
    background-image: url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
} 

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 10rem;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}


@media screen and (min-width:760px){
    .hamburger-menu::before,
    .hamburger-menu::after{
        display: none;
    }
    .sidebar{
        translate: 0;
        background-color: #333;
        
    }

}*/

body {
    background-image: url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background-color: #333;
}


.logo {
    width: 67px;
    float: left;
}


li {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    /* border-left: 1px solid rgb(255, 255, 255); */
    
} 

.line{
    width: 1px;
    display: inline-block;
    background-color: #fff;
    height: 20px;
}

.a:link {
    color: #636363;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    background-color: white;
    color: #333;
}

.container {
    width: 100%;
    height: 10vh;
    z-index: 3;

}

.banner {
    width: 100%;
    height: 27vh;
    background-image: url(../images/bannerstudio.jpg);
}


h1 {
    font-size: 5rem;
    text-align: center;
    padding-top: 3rem;
    color: white;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.wrapper1 {
    max-width: 850px;
    margin: 10rem auto 0;
    background: rgba(255, 255, 255, 0.6);
    padding: 1rem;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 4rem;
}

.ourstudio {
    display: inline-block;
}

.plantstudio {
    width: 300px;
    padding-right: 10px;
    float: left;
}


.pv1 {
    padding-bottom: 5rem;
}

h3 {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 70px;
}

.content-table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    min-width: 90%;
}

.content-table thead tr,
.content-table td{
    text-align: center;
    border: 1px solid #222;
}

.content-table th,
.content-table td {
    padding: 12px;
    border-left: 1px solid #222;
}

.content-table tbody tr {
    border: 1px solid #222;
}

/* .contactmargin {
    margin-left: 4rem;
} */

/*.contactus{
    margin-left: 22rem; 
    margin-top: 10rem;
}*/

.contactbox {
    font-size: 18px;
}

.contactbutton {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2rem;
    color:#ffffff;
    background-color:#333;
}

/* footer {
    padding-bottom: 30px;
    padding-top: 50px;

}

.footer1 {
    display: flex;
    justify-content: center;
} */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; /* Center-align the content */
  }


.column {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
  }

  .column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .column p {
    margin: 10px 0;
  }

  .divider {
    width: 1px;
    background-color: #fff;
    height: 150px; 
    display: inline-block;
    margin: 0 20px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .social-icon {
    font-size: 20px;
    margin: 0 5px;
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: black;
    color: #ffffff;
  }

  .menuopen a {
    text-decoration: none;
  }