html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* --------------------------------------------------------------- */


/* adds background image for entire website and fonts */
body {
    background-image: url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------- nav bar -----------------------*/
.menu {
     display: grid;
     grid-auto-flow: column;
    text-align: center;
    background-color: #333;
}


.logo {
    width: 67px;
    float: left;
}

/*adds customizations to nav bar links*/
li {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
} 

/*adds line dividers between nav bar links*/
.line{
    width: 1px;
    display: inline-block;
    background-color: #fff;
    height: 20px;
}

.a:link {
    color: #636363;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

/*creates a hover effect when hovering over nav bar links*/
a:hover{
    background-color: white;
    color: #333;
}

/*------------------ banner with title and image -----------------*/

.container {
    width: 100%;
    height: 10vh;
    z-index: 3;

}

.banner {
    width: 100%;
    height: 18vh;
    background-image: url(../images/bannerstudio.jpg);
}


h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 3rem;
    color: white;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

/* --------------- main wrapper with pages content -------------------*/

.wrapper1 {
   /*  max-width: 850px; */
    margin: 5rem auto 0;
    background: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    align-items: center;
}

.studio-title {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 2rem;
}

.ourstudio {
    display: inline-block;
}

.plantstudio {
    width: 80%;
    padding-right: 10px;
    
}


.pv1 {
    padding-bottom: 5rem;
    font-size: 16px;
}

.bookings-title {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 1px;
}

/*-------------------- table customizations ---------------------*/


.content-table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    min-width: 100%;
    font-size: 16;
}

.content-table thead tr,
.content-table td{
    text-align: center;
    border: 1px solid #222;
    font-size: 16px;
}

.content-table th,
.content-table td {
    padding: 8px;
    border-left: 1px solid #222;
    font-size: 16px;
}

.content-table tbody tr {
    border: 1px solid #222;
}

/*--------------------footer------------------*/

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; /* center-aligns the content in the footer */
  }

  .divider {
    width: 145px;
    background-color: #fff;
    height: 1px; 
    display: inline-block;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 3px;
  }

  .social-icon {
    font-size: 20px;
    margin: 0 5px;
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: #333;
  }

  .logofooter {
    width: 60px;
}


  /*-------------------contact us page-------------------*/

  .menuopen a {
    text-decoration: none;
  }

  .contactbox {
    font-size: 18px;
    border-radius:10px;
    margin-bottom: 15px;
  }

  .contactus {
    padding-bottom: 100px;
  }

.contactbutton {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2rem;
    color:#ffffff;
    background-color:#333;
    border-radius: 10px;
}

.contactbutton:hover {
    color:#333;
    background-color:#ffffff;
}

.social-icons-contact{
    color: #333;
    font-size: 40px;
    
}

.form{
    float: left;
    font-size: 15px;
    padding-right: 100px;
}

.contact-socials {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 4rem;
    line-height: 60px;
}

.contact-email {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 4rem;
    line-height: 60px;
}

.p2 {
    padding-bottom: 20px;
}

/*-----------------------------about page-----------------------------*/

.studio1 {
    width: 100%;
    padding-bottom: 10px;
}

.showcase-title {
    padding-bottom: 10px;
}

.p4 {
    padding-bottom: 40px;
}

/*----------------------- contact page --------------------------*/

.contactheader {
    font-size: 52px;
}



@media screen and (min-width: 760px) {
    /* adds background image for entire website and fonts */
    body {
        background-image: url(../images/bg-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    /*----------------------- nav bar -----------------------*/
    .menu {
         display: grid;
         grid-auto-flow: column;
        text-align: center;
        background-color: #333;
    }
    
    
    .logo {
        width: 67px;
        float: left;
    }
    
    /*adds customizations to nav bar links*/
    li {
        display: inline-block;
        text-align: center;
        color: #ffffff;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 17px;
    } 
    
    /*adds line dividers between nav bar links*/
    .line{
        width: 1px;
        display: inline-block;
        background-color: #fff;
        height: 20px;
    }
    
    .a:link {
        color: #636363;
        text-decoration: none;
    }
    
    a:visited {
        color: #ffffff;
        text-decoration: none;
    }
    
    /*creates a hover effect when hovering over nav bar links*/
    a:hover{
        background-color: white;
        color: #333;
    }
    
    /*------------------ banner with title and image -----------------*/
    
    .container {
        width: 100%;
        height: 10vh;
        z-index: 3;
    
    }
    
    .banner {
        width: 100%;
        height: 27vh;
        background-image: url(../images/bannerstudio.jpg);
    }
    
    
    h1 {
        font-size: 5rem;
        text-align: center;
        padding-top: 3rem;
        color: white;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
        font-weight: bold;
    }
    
    /* --------------- main wrapper with pages content -------------------*/
    
    .wrapper1 {
        max-width: 850px;
        margin: 10rem auto 0;
        background: rgba(255, 255, 255, 0.6);
        padding: 1rem;
    }
    
    .studio-title {
        font-weight: bold;
        font-size: 2rem;
        padding-top: 4rem;
    }
    
    .ourstudio {
        display: inline-block;
    }
    
    .plantstudio {
        width: 300px;
        padding-right: 10px;
        float: left;
    }
    
    
    .pv1 {
        padding-bottom: 3rem;
        font-size: 16px;
    }
    
    .bookings-title {
        font-weight: bold;
        font-size: 2rem;
        padding-top: 70px;
    }
    
    /*-------------------- table customizations ---------------------*/
    .content-table {
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 2rem;
        font-size: 1.1rem;
        min-width: 90%;
        font-size: 16;
    }
    
    .content-table thead tr,
    .content-table td{
        text-align: center;
        border: 1px solid #222;
        font-size: 16px;
    }
    
    .content-table th,
    .content-table td {
        padding: 12px;
        border-left: 1px solid #222;
        font-size: 16px;
    }
    
    .content-table tbody tr {
        border: 1px solid #222;
    }
    
    /*--------------------footer------------------*/
    
    footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center; /* center-aligns the content in the footer */
      }
    
      .divider {
        width: 145px;
        background-color: #fff;
        height: 1px; 
        display: inline-block;
      }
    
      .social-icons {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 3px;
      }
    
      .social-icon {
        font-size: 20px;
        margin: 0 5px;
      }
    
      .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        background-color: rgb(255, 255, 255);
        color: #333;
      }
    
      .logofooter {
        width: 60px;
    }
    
    
      /*-------------------contact us page-------------------*/
    
      .menuopen a {
        text-decoration: none;
      }

      .contactheader {
        font-size: 5rem;
    }
    
      .contactbox {
        font-size: 18px;
        border-radius:10px;
        margin-bottom: 15px;
      }
    
      .contactus {
        padding-bottom: 100px;
      }
    
    .contactbutton {
        margin-top: 1rem;
        margin-bottom: 3rem;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.2rem;
        color:#ffffff;
        background-color:#333;
        border-radius: 10px;
    }
    
    .contactbutton:hover {
        color:#333;
        background-color:#ffffff;
    }
    
    .social-icons-contact{
        color: #333;
        font-size: 40px;
        
    }
    
    .form{
        float: left;
        font-size: 15px;
        padding-right: 100px;
    }
    
    .contact-socials {
        font-size: 2rem;
        font-weight: bold;
        padding-top: 4rem;
        line-height: 60px;
    }
    
    .contact-email {
        font-weight: bold;
        font-size: 2rem;
        padding-top: 4rem;
        line-height: 60px;
    }
    
    .p2 {
        padding-bottom: 20px;
    }
    
    /*-----------------------------about page-----------------------------*/
    
    .imgshowcase {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        justify-content: center;
        padding-bottom: 50px;
    }
    
    
    .studio1 {
        width: 250px;
        padding-bottom: 10px;
    }
    
    .showcase-title {
        font-size: 22px;
        padding-bottom: 10px;
    }
}
